<h1> Movie Types </h1>
<%=link_to "New List", new_list_path  %>

<div class="container">
  <% @lists.each do |list| %>
    <div class="category">
      <ul>
        <li> <%= link_to list.name, list_path(list) %> </li>
      </ul>
    </div>
  <% end %>
</div>
